<div class="site-body d-flex mx-2 px-3 my-2">
  <div class="site-left-body d-flex px-2">
    <SiteLeftBody />
  </div>
  <div class="site-body d-flex mx-2 px-3 my-0 w-100">
    <ProfilePageContainer @user={{this.model}} @name={{this.model.name}} />
  </div>
</div>