<div class="site-body d-flex mx-2 px-3 my-2 border border-dark">
    <div class="site-left-body d-flex px-2 border border-dark">
        <SiteLeftBody />
    </div>
    <div class="site-middle-body d-flex px-2 border border-dark">
        Middle
    </div>
    <div class="site-right-body d-flex px-2 border border-dark">
        Right
    </div>
</div>
