<div class="mx-2 mt-1 d-flex">
  <div class="d-flex h-100 fw-500">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="18"
      fill="currentColor"
      class="bi bi-hand-thumbs-up-fill"
      viewBox="0 0 16 12"
    >
      <path
        d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"
      />
    </svg>
    &nbsp;
    {{@numberOfLikes}}
    &nbsp; &nbsp; &nbsp;
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="18"
      fill="currentColor"
      class="bi bi-chat-fill"
      viewBox="0 0 16 12"
    >
      <path
        d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"
      />
    </svg>
    &nbsp;
    {{@numberOfComments}}
  </div>
  {{#if this.hasCreatedAtText}}
    <div class="d-flex flex-right sub-text">
      <i>{{@createdAtText}}</i>
    </div>
  {{/if}}
</div>