<div class="w-100">
    <div class="page-header">My Toffeechat</div>
    <app-field-card>
        <app-field-card-top-space>
            <app-field-card-header>
                <app-profile-box-container />
            </app-field-card-header>
            <br />
            <app-field-card-body>
                {{ this.userData.bio }}
            </app-field-card-body>
        </app-field-card-top-space>
        <app-field-card-lifted-space>
            <div>
                <b>Number of Posts: </b> {{this.userData.numberOfAuthoredPosts}}
            </div>
        </app-field-card-lifted-space>
        <app-field-card-lifted-space>
            <div>
                <b>Number of Comments: </b> {{this.userData.numberOfReceivedComments}}
            </div>
        </app-field-card-lifted-space>
        <app-field-card-bottom-space>
            <div>
                <b>Number of Likes: </b> {{this.userData.numberOfReceivedLikes}}
            </div>
        </app-field-card-bottom-space>
    </app-field-card>
    <br />
    <app-field-card>
        <app-field-card-top-space>
            <app-field-card-header>
                <div class="profile-box-name">Activity</div>
            </app-field-card-header>
            <app-field-card-body>
                This shows the total likes and comments that the user <i>"Guest"</i> has authored:
            </app-field-card-body>
        </app-field-card-top-space>
        <app-field-card-lifted-space>
            <div>
                <b>Authored Likes: </b> {{this.userData.numberOfAuthoredLikes}}
            </div>
        </app-field-card-lifted-space>
        <app-field-card-lifted-space>
            <div>
                <b>Authored Comments: </b> {{this.userData.numberOfAuthoredComments}}
            </div>
        </app-field-card-lifted-space>
    </app-field-card>
</div>