<div class="w-100">
    <FieldCard>
        <FieldCardLiftedSpace>
            <FieldCardHeader>{{@author}}</FieldCardHeader>
            <FieldCardBody>{{@body}}</FieldCardBody>
        </FieldCardLiftedSpace>
        <FieldCardBottomSpace>
            <FieldCardBody>{{@body}}</FieldCardBody>
        </FieldCardBottomSpace>
    </FieldCard>
    <br />
</div>