<div class="w-100">
    <FullFieldCard>
        <FieldCardHeader>
            <ProfileBoxContainer />
        </FieldCardHeader>
        <br />
        <FieldCardBody>
            {{ this.userData.bio }}
        </FieldCardBody>
    </FullFieldCard>
    <div class="transparent">{{ this.getUserInfo }}</div>
</div>